html{
  scroll-behavior: smooth;
}
  table {
   
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;

}
a{
text-decoration: none;
}
p{
font-size: 14px;
width: 90%;
overflow-wrap: break-word;
}
td, th {
border: 1px solid #dddddd;
text-align: left;
width:10%;
overflow: hidden;
padding: 10px 12px;
height: auto;
}
td{
padding: 10px 12px;
}

/* Basic Button Styles */
button {
display: inline-block;
padding: 10px 20px;
font-size: 16px;
text-align: center;
text-decoration: none;
cursor: pointer;
border: 1px solid #3498db;
border-radius: 4px;
color: #ffffff;
background-color: #3498db;
}

button:hover {
background-color: #2980b9;
}

/* Additional Styles for Different States */
button:active {
background-color: #1f618d;
}

.home{
display:flex;
justify-content: space-between;
width: 100%;
align-items: center;
margin-top: 5px;
margin-bottom: 10px;
position: sticky;
top: 5px;



}
img{
width: 200px;
}
*{
margin: 0;
padding: 0;
}



